	<div id="sidebar">
        
        <h2>★PV数ランキング</h2>
        <ul>
        <% @notes.each do |note| %> 
            <li><%= link_to note_path(note.id) do %><%= note.title %><span></span><% end %></li>
        <% end %>
        </ul>

    </div>
    <div class="clear"></div>